@model Toy.Models.ViewModels.Product.ProductVM

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Admin/_admin.cshtml";
}

<h2>EditProduct</h2>

<h4>ProductVM</h4>
<hr />
<form asp-action="EditProduct" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" class="form-control" value="@Model.FrontImage" />
                <input type="hidden" class="form-control" value="@Model.TypeString" />

            </div>

            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfEdit" class="control-label"></label>
                <input asp-for="DateOfEdit" class="form-control" />
                <span asp-validation-for="DateOfEdit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <select class="form-control" name="type">
                    @foreach (var item in Model.Type)
                    {
                        if (item.Value == Model.TypeString.ToString())
                        {
                            <option value="@item.Value " selected>@item.Text </option>
                        }
                        else
                        {
                            <option value="@item.Value ">@item.Text </option>
                        }
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Base Type</label>
                <select class="form-control" name="basetype">
                    @foreach (var item in Model.BaseType)
                    {
                        if (item.Value == Model.TypeString.ToString())
                        {
                            <option value="@item.Value " selected>@item.Text </option>
                        }
                        else
                        {
                            <option value="@item.Value ">@item.Text </option>
                        }
                    }
                </select>
                <span asp-validation-for="BaseType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Images</label>
                </br>
                @foreach (var item in Model.ImageS)
                {
                    <div class="siteIMG">
                        <img width="150" src="../../@item.Path" alt="Alternate Text" />
                        <img width="20px" src="~/images/delete.png" alt="Alternate Text" onclick="DeleteImage(@item.ID)" class="deleteImg" />

                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="photo" class="form-control" multiple />
                <span asp-validation-for="Image"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>


<div>
    <a href="../ProductIndex?Curentpage=1">Back to List</a>
</div>

