@model Toy.Models.ViewModels.Product.ProducLIst

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @{
        if (Model.Items.Count != 0)
        {

            foreach (var item in Model.Items)
            {


                <div class=" row productList">
                    <div class="col-md-3 img">
                        <a href="../../Order/Details/@item.ID"><img src="@item.Image" alt="Alternate Text" /></a>
                    </div>
                    <div class="col-md-7">
                        <div class="row code">
                            <h4>@item.Code</h4>
                        </div>
                        <div class="row title">
                            <h4>@item.Title</h4>
                        </div>
                        <div class="row desc">
                            <h5>@item.Description</h5>
                        </div>
                        <div class="row price">
                            <h4>@item.Price лв.</h4>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            @if (item.Quantity > 0)
                            {
                                <span style="color:green; margin:20px 20px;"> В наличност</span>
                            }
                            else
                            {
                                <span style="color:red ; margin:20px 20px;"> Не е в наличност</span>
                            }
                        </div>
                        <div class="button ">
                            <a href="../../Order/Details/@item.ID" class="btn btn-success ">Виж повече</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h3 style="margin-top:50px; color:red">Няма намерени продукти в тази категория</h3>

        }
    }
    <div class="row">
        <div class="pageVM">
            @Html.Partial("_pageVm");
        </div>
    </div>

</body>
</html>
