@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Toy</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/order.css" />
    </environment>
</head>
<body>
    <div class="row nav">
        <div class="col-md-3" style="background-color:white; padding:5px;">
            <a href="~/Home/Index"><img style="margin-left:25%" src="~/images/Vavilonci.png" width="53%" height="91px;" /></a>
        </div>
        <div class="col-md-9 ">
            <div class="row navigation ">
                <nav>

                    @if (Context.Session.GetString("User_ID") == "1")
                    {
                        <div class="col-md-4">
                            @Html.Partial("_fixedMenu")
                        </div>
                        <div class="col-md-8">
                            @Html.Partial("_loginMenu")
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            @Html.Partial("_fixedMenu")
                        </div>
                        <div class="col-md-8">
                            @Html.Partial("_loginMenu")
                        </div>
                    }

                </nav>
            </div>
            <div class="row" style="z-index:9">
                <div class="secondNAvigation">
                    <div class="container">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Играчки
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="ChangeType(1)" href="#">Превозни средства</a></li>
                                        <li><a onclick="ChangeType(2)" href="#">Кукли и аксесоари</a></li>
                                        <li><a onclick="ChangeType(3)" href="#">Фигури</a></li>
                                        <li><a onclick="ChangeType(4)" href="#">С дистанционно управление</a></li>
                                        <li><a onclick="ChangeType(5)" href="#">Лаптопи и таблети</a></li>
                                        <li><a onclick="ChangeType(6)" href="#">Конструктор и сглобяеми играчки</a></li>
                                        <li><a onclick="ChangeType(7)" href="#">Аркадни</a></li>
                                        <li><a onclick="ChangeType(8)" href="#">За игра на професии</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Образователни игри
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="ChangeType(9)" href="#">За предучилищна подготовка </a></li>
                                        <li><a onclick="ChangeType(10)" href="#">Музикални играчки</a></li>
                                        <li><a onclick="ChangeType(11)" href="#">Настолни игри</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="menuLink" onclick="ProductCategory(1)">За бебета </a>
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Спорт и игра на открито
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="ChangeType(12)" href="#">Спортни играчки</a></li>
                                        <li><a onclick="ChangeType(13)" href="#">Игра на открито</aonclick="ChangeType(12)"></li>
                                        <li><a onclick="ChangeType(14)" href="#">Детски тротинетки</a></li>
                                        <li><a onclick="ChangeType(15)" href="#">Ролери и скейтбордове</aonclick="ChangeType(12)"></li>
                                        <li><a onclick="ChangeType(16)" href="#">Колела и триколки</a></li>
                                        <li><a onclick="ChangeType(17)" href="#">Колички и мотори </a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Пъзели
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu d1">
                                        <li><a onclick="ChangeType(18)" href="#">Aвтoмoбили и мoтopи</a></li>
                                        <li><a onclick="ChangeType(19)" href="#">Aнимaциoнни гepoи</a></li>
                                        <li><a onclick="ChangeType(20)" href="#">Глeдки и пeйзaжи</a></li>
                                        <li><a onclick="ChangeType(21)" href="#">Гopи, цвeтя и гpaдини</a></li>
                                        <li><a onclick="ChangeType(22)" href="#">Дeцa и бeбeтa </a></li>
                                        <li><a onclick="ChangeType(23)" href="#">Динoзaвpи </a></li>
                                        <li><a onclick="ChangeType(24)" href="#">Живoтни </a></li>
                                        <li><a onclick="ChangeType(25)" href="#">Зaмъци и xpaмoвe </a></li>
                                        <li><a onclick="ChangeType(26)" href="#">Koнe </a></li>
                                        <li><a onclick="ChangeType(27)" href="#">Kopaби и лoдки </a></li>
                                        <li><a onclick="ChangeType(28)" href="#">Kocмoc </a></li>

                                    </ul>
                                    <ul class="dropdown-menu d2">

                                        <li><a onclick="ChangeType(29)" href="#">Koтки </a></li>
                                        <li><a onclick="ChangeType(30)" href="#">Kyчeтa </a></li>
                                        <li><a onclick="ChangeType(31)" href="#">клaнини и eзepa </a></li>
                                        <li><a onclick="ChangeType(32)" href="#">кoдвoдeн cвят </a></li>
                                        <li><a onclick="ChangeType(33)" href="#">кoжapнa и пoлиция </a></li>
                                        <li><a onclick="ChangeType(34)" href="#">ктици </a></li>
                                        <li><a onclick="ChangeType(35)" href="#">Peки и вoдoпaди </a></li>
                                        <li><a onclick="ChangeType(36)" href="#">Caмoлeти и бaлoни </a></li>
                                        <li><a onclick="ChangeType(37)" href="#">Cгpaди и пocтpoйки</a></li>
                                        <li><a onclick="ChangeType(38)" href="#">Фaнтacтикa </a></li>
                                        <li><a onclick="ChangeType(39)" href="#">Фoтoгpaфии</a></li>
                                    </ul>
                                </li>
                                <li><a class="menuLink" onclick="ProductCategory(9)">Настолни игри и забавления </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>













    <partial name="_CookieConsentPartial" />

    <div>
        @RenderBody()
        <hr />

    </div>
    @if (Context.Request.Cookies["CookieUsing"] == "" || Context.Request.Cookies["CookieUsing"] == null)
    {
        <div class="row cookieBody">
            <div class="container">
                <div class="col-md-11">
                    <h5>Този сайт използва бисквитки за да гарантира на вас потребителите пълната функционалност окято предоставя.Във връзка с изпълнението и прилагането на Общ регламент относно защитата на данните (Регламент (ЕС) 2016/679), всяка ваша информация  е напълно защитена , като в бисквитките се съхраняват само настройки на сайта, като цвят и допълнителна функционалност, а при ваш избор на и-мей адреса ви за по-лесно влизане в нашата система. Уверява ме ви, че вашата информация е напълно защитена!</h5>
                </div>
                <div class="col-md-1">

                    <button onclick="ChangeCookieVAlue()" style="margin-top:30%" class="btn bnt-primaty">Разбрах</button>


                </div>
            </div>
        </div>
    }
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footerMenu">
                <ul class="footerNav">
                    <h3>Menu</h3>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a href="../Product/Index?Curentpage=1">Product</a></li>

                </ul>
            </div>
            <div class="col-md-4 secondnavFooter">
                <ul class="footerNav contactsFooter">
                    <h3>Contacts</h3>
                    <li>
                        Tel: 0893287557
                        
                    </li>
                    <li>Adres: Plovdiv, Sankt Peterburg 39</li>
                       

                </ul>
            </div>
            <div class="col-md-4 social-link">
                <h3>Follow us</h3>
                <a href="https://www.facebook.com/Vavilonci-343693393003676/"><img src="~/images/social/facebook.png" width="50px" alt="facebook" /></a>
            </div>

        </div>
        <div class="row copyright">
            <a href="#">©2019 VavilonIT Всички права запазени</a>
        </div>
    </div>


</footer>
</html>