@model Toy.Models.ViewModels.Order.OrderVM
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <h2 style="padding-top:20px">@Model.Title</h2>
    <hr />
    <div class="row order">

        <div class="col-md-6 image">
            <div class="row">
                <div class="main_image" onclick="OpenGalery()" style="background-image:url(../@Model.FromtImage); background-size:100%">

                </div>
            </div>
            <div class="row subImage">
                <div class="col-md-3 ">
                    <img onclick="ChangeMainImage(@Model.FromtImage)" src="../@Model.FromtImage" width="100%" alt="Alternate Text" />
                </div>
                @for (var i = 1; i < Model.Image.Count; i++)
                {
                    <div class="col-md-3">
                        <img onclick="ChangeMainImage('@Model.Image[i]')" src="../@Model.Image[i]" width="100%" alt="Alternate Text" />
                    </div>
                }

            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-8">
                    <h4>Code:@Model.Code</h4>
                    <div class="desc">@Model.Description</div>
                </div>
                <div class="col-md-4 bying">
                    <div class="form-group">
                        <h4>Единична цена: </h4>
                        <h4> <font class="priceOfProduct" style="font-weightbold">@Model.Price</font> лв.</h4>
                        <label class="control-label">Количество</label>
                        <select class=" form-control quantity" onchange="leaveChange()">
                            @foreach (var item in Model.Quantity)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <h3 class="total">Общо:</h3>

                    @if (Model.Quantity.Count() == 0)
                    {
                        <span style="color:red">Няма в наличност</span>
                        <button onclick="SetOrderInSession()" class="btn btn-primary orderBY" type="submit" name="by" disabled>Добави в количката</button>
                    }
                    else
                    {
                        <span style="color:green">В наличност</span>
                        <button onclick="SetOrderInSession()" class="btn btn-primary orderBY" type="submit" name="by">Добави в количката</button>
                    }


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 delivery">
                <div class="row">
                    <div class="col-md-6">
                        <img style="margin-top:10px" src="~/images/delivery.png" width="100%" alt="Alternate Text" />
                    </div>
                    <div class="col-md-6 info" style="padding-top:40px">
                        <span>Доставка до 2 работни дни</span>       
                    </div>
                </div>
            </div>
            <div class="col-md-3 delivery">
                <div class="row">
                    <div class="col-md-6">
                        <img style="margin-top:10px" src="~/images/present.png" width="100%" alt="Alternate Text" />
                    </div>
                    <div class="col-md-6 info" style="padding-top:30px">
                        <span >Поръчка над 50 лева е БЕЗПЛАТНА</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row galery">
    <div class="row" style="text-align:right; background-color:black; padding:4px;">
        <img onclick="CloseGalery()" src="~/images/delete.png" alt="Alternate Text" width="30px;" />
    </div>
    <div class="row ">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="../@Model.FromtImage" alt="Los Angeles">
                </div>
                @for (int i = 1; i < Model.Image.Count; i++)
                {
                    <div class="item">
                        <img src="../@Model.Image[i].ToString()" alt="Los Angeles">
                    </div>
                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>


<div class="alert alert-success alertBox">
    <img width="20px" src="~/images/ok.png" alt="Alternate Text" />    Продуктът ви е евъведен в пазарската количка

</div>

<div class="alert alert-danger dangerBox">
    <img width="20px" src="~/images/ok.png" alt="Alternate Text" /> Този продукт вече съществува в пазарската количка.

</div>

<div style="visibility:hidden" class="session">
    @Context.Session.GetString("OrderProduct")
</div>
</div>