@model Toy.Models.ViewModels.Login.RegistrationVM;
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-content">
    <h2>Информация  за създаване на поръчка</h2>

    <div class="row infoForOrder">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h3 style="color:red">@ViewData["Information"]</h3>
            <form method="post" asp-controller="Order" asp-action="MakeOrder">
                <div class="registrationErrors" asp-validation-summary="ModelOnly"></div>
                <div class="col-md-6">
                    <div class="form-group" style="padding-right:5px">
                        <label asp-for="@Model.FirstName"></label>
                        <input class="form-control" asp-for="@Model.FirstName" placeholder="First Name">
                        <span asp-validation-for="@Model.FirstName"></span>

                    </div>

                </div>
                <div class="col-md-6" style="padding-left:5px">
                    <div class="form-group">
                        <label asp-for="@Model.SecondName"></label>
                        <input class="form-control" asp-for="@Model.SecondName" placeholder="Second Name">
                        <span asp-validation-for="@Model.SecondName"></span>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.City"></label>
                    <input class="form-control" asp-for="@Model.City" placeholder="City">
                    <span asp-validation-for="@Model.City"></span>

                </div>
                <div class="form-group">
                    <label asp-for="@Model.Adress"></label>
                    <input class="form-control" asp-for="@Model.Adress" placeholder="Adress">
                    <span asp-validation-for="@Model.Adress"></span>

                </div>

                <div class="form-group">
                    <label asp-for="@Model.Telephone"></label>
                    <input class="form-control" asp-for="@Model.Telephone" placeholder="Telephone">
                    <span asp-validation-for="@Model.Telephone"></span>

                </div>

                <input type="submit" class="btn btn-primary loginButton" value="Поръчай" />
            </form>
        </div>
        <div class="col-md-2">

        </div>

    </div>
</div>